<template>
  <v-container>
    <v-snackbar v-model="snackbar" centered="true" :timeout="false" color="success">
      {{ message }}
      <v-btn text top @click="direction">Close</v-btn>
    </v-snackbar>

    <v-row>
      <v-col cols="12" md="12" lg="12" sm="12" xs="12">
        <v-card>
          <v-toolbar color="primary" dark>
            <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->

            <v-toolbar-subtitle>Add Project</v-toolbar-subtitle>
          </v-toolbar>
          <v-row>
            <v-col cols="12" md="8" lg="8" sm="8" xs="12">
              <v-card-text>
                <v-row>
                  <v-col cols="12" xs="12" sm="12" md="6" lg="6">
                    <v-text-field v-model="projectName" label="Project Name" required></v-text-field>
                  </v-col>
                  <!-- <v-col cols="12" xs="12" sm="12" md="6" lg="6">
                    <v-text-field v-model="fname" v-mask="mask" label="Father Name" required></v-text-field>
                  </v-col> -->
                  <v-col cols="12" xs="12" sm="12" md="6" lg="6">
                    <v-text-field v-model="projectSize"  label="Project Size" required></v-text-field>
                  </v-col>
                  <v-col cols="12" xs="12" sm="12" md="6" lg="6">
                    <v-text-field v-model="projectAddress" label="Project Address" required></v-text-field>
                  </v-col>
                  <v-col cols="12" xs="12" sm="12" md="6" lg="6">
                    <v-text-field v-model="projectPartners" label="Total Partners" required></v-text-field>
                  </v-col>
                </v-row>
              </v-card-text>

              <!-- <v-card-actions>
                <v-btn color="primary" @click="createEmployee">
                  <v-icon>mdi-pencil-plus-outline</v-icon>Create/ Edit
                </v-btn>
              </v-card-actions>-->
            </v-col>
          </v-row>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="primary" @click="addProject">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      //snakbar
      snackbar: false,
      message: "",

      //form data
      projectName: "",
      projectSize: "",
      projectAddress: "",
      projectPartners: "",
      
    };
  },
  methods: {
    addProject() {
      const data = {
        projectName: this.projectName,
        projectSize: this.projectSize,
        projectAddress: this.projectAddress,
        projectPartners: this.projectPartners,
        
      };

      axios.post("/saveProject", data).then(res => {
        this.message = res.data.message;
        this.snackbar = true;
        this.projectName = "",
        this.projectSize = "",
        this.projectAddress = "",
        this.projectPartners = ""
        
      });
    },
    direction(){
    this.snackbar=false;
    this.$router.push({ path : '/default/dashboard/ecommerce' });
  }
  },
  created() {},
//   computed: {
//     formIsValid() {
//       return this.c_brand !== "" && this.c_plate !== "";
//     },
//   },
  watch: {}
};
</script>