<template>
	<div>
			<v-container fluid>
				<!-- <app-card
					heading="Total Schemes"
					:fullScreen="false"
					:reloadable="false"
					:closeable="false"
				>
					<v-data-table
            v-bind:headers="headers"
            :items="items"
          >
          </v-data-table>
		
				</app-card>
  <br><br>		 -->
				<app-card
					heading="Total Customers"
					:fullScreen="false"
					:reloadable="false"
					:closeable="false"
				>
        <v-btn
                  small
                  class="ma-2"
                  :to="'/default/icons/material'"
                  outlined
                  color="success"
                >Add Project</v-btn>
					<v-data-table
            v-bind:headers="headers"
            :items="projects"
            hide-default-footer
          >
		  <template v-slot:item="{ item }">
                  <tr>
							<td>{{ item.project_id }}</td>
							<td>{{ item.projectName }}</td>
							<td>{{ item.projectAddress }}</td>
							<td>{{ item.projectSize }}</td>
							<td>{{ item.projectPartners }}</td>
						
							<!-- <td>
                <v-btn
                  small
                  class="ma-2"
                  :to="'/default/forms/stepper/'+item.id"
                  outlined
                  color="success"
                >View</v-btn>
							</td> -->
				  </tr>
		  </template>
          </v-data-table>		
				</app-card>
				<!-- Devices Share -->
			
			</v-container>
	</div>
</template>

<script>
import axios from "axios";

export default {
  data: function() {
    return {
      headers: [
        {
          text: "ID",
          align: "left",
          sortable: false,
          value: "id"
        },
        { text: "Project Name", value: "projectName" },
        { text: "Project Address", value: "projectAddress" },
        { text: "Project Size", value: "projectSize" },
        { text: "Project Partners", value: "projectPartners" },
      ],
      projects: []
    };
  },
  methods:
  {
	  getProjects() {
      
            axios.get("/getProjects").then(({ data }) => {
               this.projects = data.projects;
			   //console.log('data', this.cuss)
            });
        },
  },
  created()
  {
    this.getProjects();
  }
};
</script>
