<template>
	<div>
		<v-snackbar v-model="snackbar" centered="true" :timeout="false" color="success">
      {{ message }}
      <v-btn text top @click="direction">Close</v-btn>
    </v-snackbar>
		<page-title-bar></page-title-bar>
		<v-container fluid grid-list-xl py-0>
			<app-card
				heading="Basic Information"
				customClasses="mb-30"
				>
				<v-form>
					<v-row>
						<v-col>
					<v-text-field
						label="Name"
						v-model="name"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="Father Name"
						v-model="fname"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="CNIC Number"
						v-model="cnic"
					    v-mask="'#####-#######-#'"
						required>
					</v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
					<v-text-field
						label="Address"
						v-model="address"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="Date Of Birth"
						v-model="dateOfBirth"
						required>
					</v-text-field>
						</v-col>
						
						<v-col>
					<v-text-field
						label="Contact Number"
						v-model="contact"
						required>
					</v-text-field>
						</v-col>
					<v-col>
          <v-select
            v-model="project"
            :items="projects"
            item-text="projectName"
            item-value="project_id"
            label="Select Project"
          ></v-select>
        </v-col>
					</v-row>
					<v-row>
						<v-col>
				      
                <v-menu
      ref="menu"
      v-model="menu"
      :close-on-content-click="true"
      transition="scale-transition"
      offset-y
      min-width="auto"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          v-model="date"
          label="Date"
          
          v-bind="attrs"
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker
        v-model="date"
        :active-picker.sync="activePicker"
      ></v-date-picker>
    </v-menu>
                 </v-col>
						<v-col>
					<v-text-field
						label="Plot Number"
						v-model="plotNum"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="Registration Number"
						v-model="plotReg"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="Plot Size"
						v-model="plotSize"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="Total Cost"
						v-model="totalAmount"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="Advanced Payment"
						v-model="paidAmount"
						required>
					</v-text-field>
						</v-col>
						
					</v-row>
				</v-form>
					</app-card>
					<app-card
					heading="Nomination"
					customClasses="mb-30"
					>
					<v-form>
					<v-row>
						
						
						<v-col>
							
					<v-text-field
						label="I/We hereby Nominee Mr/Mrs/Ms."
						v-model="nName"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="S/o, D/o, W/o:"
						v-model="nFname"
						required>
					</v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
					<v-text-field
						label="Relation"
						v-model="nRelation"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="CNIC"
						v-model="nCnic"
						v-mask="'#####-#######-#'"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="Contact Number"
						v-model="nContact"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="Address"
						v-model="nAddress"
						required>
					</v-text-field>
						</v-col>
					</v-row>
					
					<v-btn  class="primary left" @click="saveData">Submit</v-btn>
				</v-form>
			</app-card>
			
		</v-container>
	</div>
</template>

<script>
import {TheMask} from 'vue-the-mask'
import axios from "axios";
export default {
	 components: {TheMask},
  data() {
    return {
	 snackbar: false,
     name: '',
	 fname: '',
	 cnic: '',
	 address: '',
	 project: '',
	 dateOfBirth: '',
	 contact: '',
	 date: '',
	 plotNum: '',
	 plotSize: '',
	 plotReg: '',
	 nName: '',
	 nFname: '',
	 nRelation: '',
	 nCnic: '',
	 totalAmount: 0,
	 paidAmount: 0,
     nContact: '',
	 nAddress: '', 
	 projects: []
    };
  },

  methods: {
    saveData() {
      const data = {
        name: this.name,
        fname: this.fname,
        cnic: this.cnic,
        address: this.address,
        project: this.project,
        dateOfBirth: this.dateOfBirth,
		contact: this.contact,
        date: this.date,
        plotNum: this.plotNum,
        plotSize: this.plotSize,
        plotReg: this.plotReg,
        nName: this.nName,
		nFname: this.nFname,
        nRelation: this.nRelation,
        nCnic: this.nCnic,
        nContact: this.nContact,
		nAddress: this.nAddress,
		totalAmount: this.totalAmount,
		paidAmount: this.paidAmount,
      };

      axios.post("/saveData", data).then(res => {
        this.message = res.data.message;
        this.snackbar = true;
		this.name = '',
	 this.fname = '',
	 this.cnic = '',
	 this.address = '',
	 this.project = '',
	 this.dateOfBirth = '',
	 this.contact = '',
	 this.date = '',
	 this.plotNum = '',
	 this.plotSize = '',
	 this.plotReg = '',
	 this.nName = '',
	 this.nFname = '',
	 this.nRelation = '',
	 this.nCnic = '',
     this.nContact = '',
	 this.nAddress = '',
	 this.totalAmount = '',
	 this.paidAmount = ''

      });
    },
	 getProjects() {
      
            axios.get("/getProjects").then(({ data }) => {
               this.projects = data.projects;
			   //console.log('data', this.cuss)
            });
        },
	
	direction(){
    this.snackbar=false;
    this.$router.push({ path : '/default/dashboard/ecommerce' });
  },
  },
  created()
  {
	  this.getProjects();
  }
};
</script>
