<template>
   <div class="design">
    
      <div class="profile-bottom border-bottom-light-1">
		 <span><v-btn class="primary" @click="generateReport()">Print Data</v-btn></span>
        <div class="user-image text-center mb-4">
          <img src="" class="img-responsive rounded-circle" />
        </div>
        <div class="user-list-content">
          <div class="text-center">
            <h3 class="fw-bold">{{customer[0].name}}</h3>
			<p>{{customer[0].fname}}</p>
			<p>{{customer[0].cnic}}</p>
            <p>{{customer[0].contact}}</p>
            <p>{{customer[0].address}}</p>
             
           
            
          </div>
        </div>
      </div>
      <div class="user-activity text-center">
        <ul class="list-inline d-inline-block">
			 <li>
            <span class="fw-bold">Project</span>
            <span >{{customer[0].project}}</span>
            
          </li>
          <li>
            <span class="fw-bold">Plot Number</span>
            <span >{{customer[0].plotNum}}</span>
            
          </li>
          <li>
            <span class="fw-bold">Plot Size</span>
            <span>{{customer[0].plotSize}}</span>
            
          </li>
         
        </ul>
      </div>
	  <v-container fluid>
      
       
        
        <app-card
					heading="Nominee Information"
					:fullScreen="false"
					:reloadable="false"
					:closeable="false"
				>
         <div class="table-responsive">
           
            <v-data-table  class="center" :headers="headers" :items="customer" fixed-header  >
               <template v-slot:item="{ item }">
                  <tr>
					        <td>{{ item.id }}</td>
					  		<td>{{ item.nName }}</td>
							  <td>{{ item.nFname }}</td>
							  <td>{{ item.nRelation }}</td>
							  <td>{{ item.nCnic }}</td>
							  <td>{{ item.nAddress }}</td>
							<td>{{ item.nContact }}</td>
							
							
							
              
							<!-- <td>
                <v-btn
                  small
                  class="ma-2"
                  :to="'/default/users/user-profile/' + item.customer_id"
                  outlined
                  color="success"
                >View</v-btn></td> -->
						</tr>
               </template>
            </v-data-table>
         </div>      
		</app-card>
     
     
 
  </v-container>
    </div>
</template> 
<script>

import axios from "axios";

export default {
  data() {
    return {
		customer: [],
		headers: [
        {
          text: "ID",
          align: "left",
          sortable: false,
          value: "id"
        },
        { text: "Nominee Name", value: "calories" },
		{ text: "Father/Husband Name", value: "sodium" },
        { text: "Relation", value: "fat" },
        { text: "CNIC", value: "carbs" },
        { text: "Address", value: "protein" },
        { text: "Contact", value: "sodium" },
      ],
		};

		},
		methods:
		{
		loadCustomerDetails() {
      const id = this.$route.params.id;
      axios.get("/getCustomerDetail/" + id).then(res => {
        this.customer = res.data.customer;

		console.log('kamo tursenagaen..', this.customer)
      });
    },
    generateReport(){
      axios.get(
          "/printCustomerData/"+this.$route.params.id,

        { responseType: "arraybuffer" })
        .then(response => {
          console.log(response.data);
          var ext=response.headers["content-type"].split('/').pop();
          console.log("i am printing.....")
         let blob = new Blob([response.data], { type: "application/pdf" });
      //  let blob = new Blob([response.data], { type: response.headers["content-type"] });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = "SeniorityList."+ext;
          link.click();
        });
      }
		},
		created()
		{
		this.loadCustomerDetails();
		},
    computed: {
      calculateRemaining()
      {
          		this.totalRemaining = 
		         parseInt(this.totalGave) - parseInt(this.totalRecieve);
                     return this.totalRemaining;
      },
      
    },
   
    
  
};
</script>
<style scoped>
.right {
  position: absolute;
  right: 0px;
  width: 100px;
  border: 0.5px solid #73AD21;
  padding: 10px;
}
.design {
  padding: 50px;
}
</style>