<template>
	<div>
		<v-snackbar v-model="snackbar" centered="true" :timeout="false" color="success">
      {{ message }}
      <v-btn text top @click="direction">Close</v-btn>
    </v-snackbar>
		<v-container fluid grid-list-xl pt-0>
			<app-card
					heading="Add Partners"
					customClasses="mb-30"
					>
					<v-form>
					<v-row>
						
						
						<v-col>
							
					<v-text-field
						label="Partner Name"
						v-model="partnerName"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="CNIC"
						v-model="cnic"
						v-mask="'#####-#######-#'"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="Contact Number"
						v-model="contact"
						required>
					</v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
					<v-text-field
						label="Address"
						v-model="address"
						required>
					</v-text-field>
						</v-col>
						<v-col>
          <v-select
            v-model="project"
            :items="projects"
            item-text="projectName"
            item-value="id"
            label="Select Project"
          ></v-select>
        </v-col>
						<v-col>
					<v-text-field
						label="Percentage"
						v-model="percentage"
						required>
					</v-text-field>
						</v-col>
					</v-row>
					<!-- <v-row>
						<v-col>
					<v-text-field
						label="Money Given"
						v-model="paid"
						required>
					</v-text-field>
						</v-col>
						<v-col>
					<v-text-field
						label="Money Remaining" 
						v-model="remaining"
						required>
					</v-text-field>
						</v-col>
					</v-row> -->
					
					<v-btn  class="primary left" @click="savePartner">Submit</v-btn>
				</v-form>
			</app-card>
		</v-container>
	</div>
</template>

<script>
import {TheMask} from 'vue-the-mask'
import axios from "axios";
export default {
  components: {TheMask},
  data() {
    return {
      snackbar: false,
     partnerName: '',
	//  paid: 0,
	//  remaining: 0,
	 address: '',
	 project: '',
	 percentage: '',
	 cnic: '',
	 contact: '', 
	 projects: []
    };
  },
  methods: {
    savePartner() {
      const data = {
        partnerName: this.partnerName,
        percentage: this.percentage,
        cnic: this.cnic,
        address: this.address,
        project: this.project,
      
		contact: this.contact,
		
      };

      axios.post("/savePartner", data).then(res => {
        this.message = res.data.message;
        this.snackbar = true;
		this.partnerName = '',
	 this.percentage = '',
	 this.cnic = '',
	 this.address = '',
	 this.project = '',

	 this.contact = ''

      });
    },
	 getProjects() {
      
            axios.get("/getProjects").then(({ data }) => {
               this.projects = data.projects;
			   //console.log('data', this.cuss)
            });
        },
	
	direction(){
    this.snackbar=false;
    this.$router.push({ path : '/default/dashboard/ecommerce' });
  },
  },
  created()
  {
	  this.getProjects();
  }
};
</script>
