<template>
	<div>
			<v-container fluid>
				<!-- <app-card
					heading="Total Schemes"
					:fullScreen="false"
					:reloadable="false"
					:closeable="false"
				>
					<v-data-table
            v-bind:headers="headers"
            :items="items"
          >
          </v-data-table>
		
				</app-card>
  <br><br>		 -->
				<app-card
					heading="Total Partners"
					:fullScreen="false"
					:reloadable="false"
					:closeable="false"
				>
        <v-btn
                  small
                  class="ma-2"
                  :to="'/default/maps/google-maps'"
                  outlined
                  color="success"
                >Add Partner</v-btn>
					<v-data-table
            v-bind:headers="headers"
            :items="partners"
            hide-default-footer
          >
		  <template v-slot:item="{ item }">
                  <tr>
							<td>{{ item.id }}</td>
							<td>{{ item.partnerName }}</td>
							<td>{{ item.address }}</td>
							<td>{{ item.cnic }}</td>
							<td>{{ item.contact }}</td>
              <td>{{ item.project }}</td>
              <td>{{ item.percentage }}</td>
						
							<!-- <td>
                <v-btn
                  small
                  class="ma-2"
                  :to="'/default/forms/stepper/'+item.id"
                  outlined
                  color="success"
                >View</v-btn>
							</td> -->
				  </tr>
		  </template>
          </v-data-table>		
				</app-card>
				<!-- Devices Share -->
			
			</v-container>
	</div>
</template>

<script>
import axios from "axios";

export default {
  data: function() {
    return {
      headers: [
        {
          text: "ID",
          align: "left",
          sortable: false,
          value: "id"
        },
        { text: "Partner Name", value: "partnerName" },
        { text: "Address", value: "projectAddress" },
        { text: "Cnic", value: "projectSize" },
        { text: "contact", value: "projectPartners" },
        { text: "Project", value: "projectPartners" },
         { text: "Percentage", value: "projectSize" },
        
      ],
      partners: []
    };
  },
  methods:
  {
	  getPartners() {
      
            axios.get("/getPartners").then(({ data }) => {
               this.partners = data.partners;
			   //console.log('data', this.cuss)
            });
        },
  },
  created()
  {
    this.getPartners();
  }
};
</script>
