<template>
	<div>
		<v-container fluid class="pt-0 grid-list-xl">
			<section-tooltip title="DASHBOOARD" tooltip="Keelkore enterprise"></section-tooltip>
			<!-- Dash Cards -->
			<v-container fluid>
				<v-row>
				<stats-card-v2
					colClasses="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12"
					heading="Total Customers"
					:amount="this.total"
				></stats-card-v2>
				<stats-card-v2
					colClasses="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12"
					heading="Total Schemes"
					:amount="this.projectCount"
				>
    	<v-btn class="margin" color="primary" small to="/default/icons/material">Add Project</v-btn>
      <v-btn class="margin" color="primary" small to="/default/icons/themify">View Projects</v-btn>
				</stats-card-v2>
				<stats-card-v2
					colClasses="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"
					heading="Partners"
					:amount="this.partnerCount"
				>
        <v-btn class="margin" color="primary" small to="/default/maps/google-maps">Add Partner</v-btn>
      <v-btn class="margin" color="primary" small to="/default/maps/leaflet-maps">View Partners</v-btn>
        </stats-card-v2>
				</v-row>
			</v-container>
			<!-- Sales -->
			<v-container fluid>
				<!-- <app-card
					heading="Total Schemes"
					:fullScreen="false"
					:reloadable="false"
					:closeable="false"
				>
					<v-data-table
            v-bind:headers="headers"
            :items="items"
          >
          </v-data-table>
		
				</app-card>
  <br><br>		 -->
				<app-card
					heading="Total Customers"
					:fullScreen="false"
					:reloadable="false"
					:closeable="false"
				>
        <v-btn
                  small
                  class="ma-2"
                  :to="'/default/forms/form-validation/'"
                  outlined
                  color="success"
                >Add Customer</v-btn>
					<v-data-table
            v-bind:headers="customers"
            :items="cuss"
          >
		  <template v-slot:item="{ item }">
                  <tr>
							
							<td>{{ item.name }}</td>
						
						
							<td>{{ item.project }}</td>
							<td>{{ item.plotNum }}</td>
							<td>{{ item.plotSize}}</td>
              	<td>{{ item.totalAmount }}</td>
							<td>{{ item.paidAmount }}</td>
							<td>{{ item.remainingAmount}}</td>
							<td>
                <v-btn
                  small
                  class="ma-2"
                  :to="'/printData/'+item.id"
                  outlined
                  color="success"
                >Form</v-btn>
                <v-btn
                  small
                  class="ma-2"
                  :to="'/printReceipt/'+item.id"
                  outlined
                  color="success"
                >Receipt</v-btn>
                <v-btn
                  small
                  class="ma-2"
                  :to="'/default/dashboard/news/'+item.id"
                  outlined
                  color="success"
                >Payment</v-btn>
                <v-btn
                  small
                  class="ma-2"
                  :to="'/default/dashboard/magazine/'+item.id"
                  outlined 
                  color="success"
                >Edit</v-btn>
							</td>
				  </tr>
		  </template>
          </v-data-table>		
				</app-card>
				<!-- Devices Share -->
			
			</v-container>
		</v-container>	
	</div>
</template>

<script>
// charts component
import LineChartShadow from "Components/Charts/LineChartShadow";
import Sales from "Components/Charts/SalesChartV2";
import LineChartWithArea from "Components/Charts/LineChartWithArea";

// // widgets
import RecentSale from "Components/Widgets/RecentSales";
import SupportRequest from "Components/Widgets/SupportRequestV2";
import ToDoList from "Components/Widgets/ToDoList";
import Invoice from "Components/Widgets/Invoice";
import RecentOrders from "Components/Widgets/RecentOrders";
import WeeklySales from "Components/Widgets/WeeklySales.vue";
import Reviews from "Components/Widgets/Reviews";
import SocialFeeds from "Components/Widgets/SocialFeeds";
import TopSelling from "Components/Widgets/TopSelling";
import NewPost from "Components/Widgets/AddNewBlog";
import BlogLayoutOne from "Components/Widgets/BlogLayoutOne";
import BlogLayoutFour from "Components/Widgets/BlogLayoutFour";
import CategorySale from "Components/Widgets/CategorySales";
import DeviceShare from "Components/Widgets/DeviceShare";
import axios from "axios";
import { ChartConfig } from "Constants/chart-config";

export default {
  components: {
    LineChartShadow,
    RecentSale,
    SupportRequest,
    Sales,
    ToDoList,
    Invoice,
    RecentOrders,
    CategorySale,
    LineChartWithArea,
    WeeklySales,
    Reviews,
    SocialFeeds,
    TopSelling,
    NewPost,
    BlogLayoutOne,
    BlogLayoutFour,
    DeviceShare
  },
  data() {
    return {
		loader: true,
      headers: [
        {
          text: "ID",
          align: "left",
          sortable: false,
          value: "id"
        },
        { text: "Scheme Name", value: "schemeName" },
        { text: "Address", value: "address" },
        { text: "Total Plots", value: "TPlots" },
        { text: "Total Bought", value: "TBought" },
        { text: "Plots Remaining", value: "TRemaining" },
      ],
	  customers: [
     
        { text: "Customer Name", value: "name" },
      
       
		{ text: "Project", value: "project" },
        { text: "Plot Number", value: "plotNum" },
		{ text: "Plot Size", value: "plotSize" },
    	{ text: "Total Cost", value: "project" },
        { text: "Total Paid", value: "plotNum" },
		{ text: "Total Remaining", value: "plotSize" },
		{ text: "Action", value: "actions" },
      
      ],
	  
	  cuss: [],
    total: 0,
    projectCount: 0,
    partnerCount: 0,
      blog: {
        id: 3,
        thumbnail: "/static/img/blog-3.jpg",
        title: "lorem ipsum is simply dummy text",
        body:
          "Consectetur adipisicing elit. Ullam expedita, necessitatibus sit exercitationem aut quo quos inventore similique nulla minima distinctio illo iste dignissimos vero nostrum, magni pariatur delectus natus.",
        date: "1-jun-2018"
      },
      ChartConfig,
      labels: ["A", "B", "C", "D", "E", "F", "J", "K", "L", "M", "N", "P"],
      totalEarnings: [30, 50, 25, 55, 44, 60, 30, 20, 40, 20, 40, 44],
      onlineRevenue: [30, 50, 25, 55, 44, 60, 30, 20, 40, 20, 40, 44],
      newCustomers: [30, 50, 25, 55, 44, 60, 30, 20, 40, 20, 40, 44]
    };
  },
  methods:
  {
	  getCustomers() {
      
            axios.get("/getCustomers").then(({ data }) => {
               this.cuss = data.customers;
			   //console.log('data', this.cuss)
            });
        },
        customerCount() {
      
            axios.get("/customerCount").then(({ data }) => {
               this.total = data.total;
			   //console.log('total data', this.total)
            });
        },
        getProjectCount() {
      
            axios.get("/projectCount").then(({ data }) => {
               this.projectCount = data.projectCount;
			   			   //console.log('project data', this.projectCount)

            });
        },
        getPartnerCount() {
      
            axios.get("/partnerCount").then(({ data }) => {
               this.partnerCount = data.partnerCount;
			   			   //console.log('project data', this.projectCount)

            });
        },
        generateReport() {
      axios
        .get(
          "/printData/"+this.$route.params.id,

          { responseType: "arraybuffer" }
        )
        .then((response) => {
          console.log(response.data);
          var ext = response.headers["content-type"].split("/").pop();
         
          let blob = new Blob([response.data], { type: "application/pdf" });
          //  let blob = new Blob([response.data], { type: response.headers["content-type"] });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = 'Application Form';
          link.click();
        });
    },
  },
  created()
  {
	  this.getCustomers();
    this.customerCount();
    this.getProjectCount();
    this.getPartnerCount();
  }
};
</script>
